<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspored Zaposlenika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            background-color: white !important;
            box-shadow: 0 2px 4px rgba(0,0,0,0.05);
        }
        .nav-link.active {
            border-bottom: 2px solid #000;
        }
        .info-section {
            background-color: white;
            border-radius: 4px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .schedule-table {
            background-color: white;
            border-radius: 4px;
        }
        .schedule-table th {
            background-color: #f8f9fa;
            font-weight: normal;
            text-align: center;
            min-width: 40px;
            cursor: pointer;
        }
        .calendar-day:hover {
            background: rgba(255, 193, 7, 0.8) !important;
        }
        .schedule-table td {
            text-align: center;
            padding: 8px;
        }
        td.weekend {
            background-color: #929292;
        }
        .work-type {
            text-align: left !important;
            font-weight: 500;
        }
        .total-row {
            background-color: #e9ecef;
        }
        .info-section p {
            margin-bottom: 1px;
        }

        /* Stilizacija forme */
#workTimeFormContainer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1002; /* Veći z-index da bude iznad overlay-a */
    position: absolute;
    display: none;
    max-width: 320px;
}

/* Overlay koji zatamnjuje ostatak ekrana */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

/* Istaknut kliknuti datum */
/* Stilizacija istaknutog datuma */
.highlighted-date {
    background: rgba(255, 193, 7, 0.8) !important;
    color: black !important;
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 1);
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}


    </style>
</head>
<body>
<div id="overlay"></div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-nav">
            <img src="/logo.png" style="height: 50px; width:100px" class="me-5">
            <a class="nav-link me-4" href="/employee/workhour/add">Unos radnog vremena</a>
            <a class="nav-link active me-4" href="/employee/workhour/list">Pregled rada</a>
        </div>

        <div class="navbar-nav ms-auto d-flex align-items-center">
            <div class="d-flex align-items-center me-3">
                <span th:text="${appUser.firstName + ' ' + appUser.lastName}">ime korisnika</span>
            </div>

            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle fs-4"></i> <!-- Dodano fs-4 za veći font-size -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="px-3 py-1 text-muted" th:text="${appUser.roleName}">Admin</li>
                    <li class="px-3 pb-2 text-muted small" th:text="${appUser.email}">admin@example.com</li>
<!--                    <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profil</a></li>-->
<!--                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Postavke</a></li>-->
                    <li><button class="dropdown-item" onclick="location.href = '/logout'"><i class="bi bi-box-arrow-right"></i> Odjava</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Main Content -->
<div class="container-fluid">
    <!-- Employee Info -->
    <div class="info-section mb-0 pb-0">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-3">Podaci o zaposleniku</h5>
                <p><strong>Ime i Prezime: </strong> <span th:text="${appUser.firstName + ' ' + appUser.lastName}">Ivan Horvat</span></p>
                <p><strong>Radna jedinica: </strong> <span th:text="${appUser.teamName + ' ' + appUser.orgUnitName}">Tim 1</span></p>
            </div>
            <div class="col-md-6">
                <h5 class="mb-3">Podaci o poslodavcu</h5>
                <p><strong>Naziv:</strong><span th:text="' ' + ${company.companyName}">Hitna KZŽ</span></p>
                <p><strong>Adresa:</strong> <span th:text="' ' + ${company.companyAddress} + ', ' + ${company.postalCode} + ', ' + ${company.companyCity}">Ulica Mirka Crkvenca 1, 49000, Krapina</span></p>
                <p><strong>OIB:</strong><span th:text="' ' + ${company.companyTaxId}"> 17813384799</span></p>
                <p><strong>IBAN:</strong> <span th:text="' ' + ${company.companyIBAN}">HR7223400091110492278</span></p>
            </div>
        </div>
    </div>

    <!-- Schedule Controls -->
    <div class="info-section pb-3">
        <div class="row align-items-center">
            <div class="col-md-2">
                <select class="form-select" id="monthSelect">
                    <option value="1">Siječanj</option>
                    <option value="2">Veljača</option>
                    <option value="3">Ožujak</option>
                    <option value="4">Travanj</option>
                    <option value="5">Svibanj</option>
                    <option value="6">Lipanj</option>
                    <option value="7">Srpanj</option>
                    <option value="8">Kolovoz</option>
                    <option value="9">Rujan</option>
                    <option value="10">Listopad</option>
                    <option value="11">Studeni</option>
                    <option value="12">Prosinac</option>
                </select>
            </div>
            <div class="col-md-10">
                <p class="mb-0 ps-4"><strong>Propisani mjesečni fond sati:</strong> 184</p>
            </div>
        </div>
    </div>

    <!-- Schedule Table -->
    <div class="table-responsive">
        <table class="table schedule-table">
            <thead>
            <tr id="calendarRow">
                <!--                <th>Vrsta rada</th>-->
                <!--                -->
                <!--                <th onclick="openForm(1, this)">1</th>-->
                <!--                <th onclick="openForm(2, this)">2</th>-->
                <!--                <th onclick="openForm(3, this)" class="weekend">3</th>-->
                <!--                <th onclick="openForm(4, this)" class="weekend">4</th>-->
                <!--                <th onclick="openForm(5, this)">5</th>-->
                <!--                <th onclick="openForm(6, this)">6</th>-->
                <!--                <th onclick="openForm(7, this)">7</th>-->
                <!--                <th onclick="openForm(8, this)">8</th>-->
                <!--                <th onclick="openForm(9, this)">9</th>-->
                <!--                <th onclick="openForm(10, this)">10</th>-->
                <!--                <th onclick="openForm(11, this)">11</th>-->
                <!--                <th onclick="openForm(12, this)">12</th>-->
                <!--                <th onclick="openForm(13, this)">13</th>-->
                <!--                <th onclick="openForm(14, this)">14</th>-->
                <!--                <th onclick="openForm(15, this)">15</th>-->
                <!--                <th onclick="openForm(16, this)">16</th>-->
                <!--                <th onclick="openForm(17, this)">17</th>-->
                <!--                <th onclick="openForm(18, this)">18</th>-->
                <!--                <th onclick="openForm(19, this)">19</th>-->
                <!--                <th onclick="openForm(20, this)">20</th>-->
                <!--                <th onclick="openForm(21, this)">21</th>-->
                <!--                <th onclick="openForm(22, this)">22</th>-->
                <!--                <th onclick="openForm(23, this)">23</th>-->
                <!--                <th onclick="openForm(24, this)">24</th>-->
                <!--                <th onclick="openForm(25, this)">25</th>-->
                <!--                <th onclick="openForm(26, this)">26</th>-->
                <!--                <th onclick="openForm(27, this)">27</th>-->
                <!--                <th onclick="openForm(28, this)">28</th>-->
                <!--                <th onclick="openForm(29, this)">29</th>-->
                <!--                <th onclick="openForm(30, this)">30</th>-->
                <!--                <th onclick="openForm(31, this)">31</th>-->
                <!--                <th>Ukupno</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="work-type">Početak rada</td>
                <td>-</td>
                <td>07</td>
                <td>19</td>
                <td class="weekend">00</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>19</td>
                <td>00</td>
                <td>00</td>
                <td>-</td>
                <td class="weekend">07</td>
                <td class="weekend">07</td>
                <td>19</td>
                <td>00</td>
                <td>-</td>
                <td>-</td>
                <td>07</td>
                <td class="weekend">23</td>
                <td class="weekend">00</td>
                <td>07</td>
                <td>-</td>
                <td>07</td>
                <td>08</td>
                <td>-</td>
                <td class="weekend">-</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td class="work-type">Završetak rada</td>
                <td>-</td>
                <td>19</td>
                <td>24</td>
                <td class="weekend">07</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>24</td>
                <td>07</td>
                <td>07</td>
                <td>-</td>
                <td class="weekend">19</td>
                <td class="weekend">19</td>
                <td>24</td>
                <td>07</td>
                <td>-</td>
                <td>-</td>
                <td>19</td>
                <td class="weekend">24</td>
                <td class="weekend">07</td>
                <td>19</td>
                <td>-</td>
                <td>19</td>
                <td>10</td>
                <td>-</td>
                <td class="weekend">-</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr class="total-row">
                <td class="work-type">UKUPNO RADNO VRIJEME</td>
                <td>-</td>
                <td>12</td>
                <td>5</td>
                <td class="weekend">7</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>5</td>
                <td>12</td>
                <td>9</td>
                <td>-</td>
                <td class="weekend">12</td>
                <td class="weekend">12</td>
                <td>5</td>
                <td>7</td>
                <td>-</td>
                <td>-</td>
                <td>12</td>
                <td class="weekend">1</td>
                <td class="weekend">7</td>
                <td>12</td>
                <td>-</td>
                <td>12</td>
                <td>2</td>
                <td>-</td>
                <td class="weekend">-</td>
                <td class="weekend">-</td>
                <td>-</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>-</td>
                <td>156</td>
            </tr>

            <!-- Add more work types... -->
            </tbody>


            <tbody>
            <tr th:each="wtuv : ${workingTimesUserView}">
                <td class="work-type" th:text="${wtuv.workTypeName}">Redovan rad subota</td>
                <td th:text="${wtuv.day01}">-</td>
                <td th:text="${wtuv.day02}">-</td>
                <td th:text="${wtuv.day03}">-</td>
                <td class="weekend" th:text="${wtuv.day04}">-</td>
                <td class="weekend" th:text="${wtuv.day05}">-</td>
                <td th:text="${wtuv.day06}">-</td>
                <td th:text="${wtuv.day07}">-</td>
                <td th:text="${wtuv.day08}">-</td>
                <td th:text="${wtuv.day09}">-</td>
                <td th:text="${wtuv.day10}">-</td>
                <td class="weekend" th:text="${wtuv.day11}">-</td>
                <td class="weekend" th:text="${wtuv.day12}">5</td>
                <td th:text="${wtuv.day13}">-</td>
                <td th:text="${wtuv.day14}">-</td>
                <td th:text="${wtuv.day15}">-</td>
                <td th:text="${wtuv.day16}">-</td>
                <td th:text="${wtuv.day17}">-</td>
                <td class="weekend" th:text="${wtuv.day18}">-</td>
                <td class="weekend" th:text="${wtuv.day19}">-</td>
                <td th:text="${wtuv.day20}">-</td>
                <td th:text="${wtuv.day21}">-</td>
                <td th:text="${wtuv.day22}">-</td>
                <td th:text="${wtuv.day23}">-</td>
                <td th:text="${wtuv.day24}">-</td>
                <td class="weekend" th:text="${wtuv.day25}">-</td>
                <td class="weekend" th:text="${wtuv.day26}">-</td>
                <td th:text="${wtuv.day27}">-</td>
                <td th:text="${wtuv.day28}">-</td>
                <td th:text="${wtuv.day29}">-</td>
                <td th:text="${wtuv.day30}">-</td>
                <td th:text="${wtuv.day31}">-</td>
                <td>-</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="form-section col-md-6 col-lg-5" id="workTimeFormContainer" style="display: none; position: absolute;">
    <h4 class="mb-4 text-center">Unos radnog vremena</h4>

    <!-- Dodan dropdown za odabir datuma -->
    <div class="mb-3 text-center">
        <input type="date" class="form-control text-center" id="workDate" required>
    </div>

    <!-- Dugmad za Dnevna / Noćna smjena -->
    <div class="mb-4 text-center">
        <button id="btnDnevna" class="btn btn-outline-dark me-2">Dnevna</button>
        <button id="btnNocna" class="btn btn-outline-dark">Noćna</button>
    </div>

    <form id="workTimeForm" action="/employee/workhour/process">
        <div class="mb-3">
            <label for="startShift" class="form-label">Početak radnog vremena</label>
            <input type="datetime-local" class="form-control" id="startShift" name="startShift" required step="3600">
        </div>
        <div class="mb-3">
            <label for="endShift" class="form-label">Završetak radnog vremena</label>
            <input type="datetime-local" class="form-control" id="endShift" name="endShift" required step="3600">
        </div>
        <div class="mb-3 text-center text-danger">
            <p id="errorMessage"></p>
        </div>
        <!-- mjesec i godina u hidden polju -->
        <button type="submit" class="btn btn-dark w-100">Spremi</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script type="module" th:src="@{/scripts/calendarDisplay.js}"></script>
<script type="module" th:src="@{/scripts/employeeWorkHoursFormDisplay.js}"></script>
<script type="module" th:src="@{/scripts/employeeWorkHoursFormRules.js}"></script>

</body>
</html>