<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/telemedicon.png" />


</head>

<body class="bg-light d-flex justify-content-center align-items-center vh-100">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form class="card p-4 shadow" action="/loginProcess">
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control js-username" type="text" id="email" name="email">
                </div>
                <div class="form-group mb-3">
                    <label for="pass" class="form-label">Lozinka</label>
                    <input class="form-control js-password" type="password" id="pass" name="password">
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit" name="login">Prijavi se</button>
                    <p th:text="${loginMessage}" class="text-danger text-center"></p>
                </div>
            </form>
            <div class="text-center mt-3">
                <p>@2025 SHIFTTRACKER SVA PRAVA PRIDRŽANA</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>